{% extends "base.html" %}

{% block content %}

<form method="POST" action="{% url 'quotes:add_quote' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label>quote:
            {{quote_form.text}}
        </label>
        <span>{{ quote_form.errors.text }}</span>
    </div>
    <div style="padding: 10px">
        <label> Select tags:
            <select name="tags" multiple="multiple" required>
                {% for tag in tags %}
                <option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
                {% endfor %}
            </select>
    </label>
    </div>
    <label> Select author:
            <select name="authors" required>
                {% for author in authors %}
                <option value="{{author.id}}">{{author.fullname}}</option>
                {% endfor %}
            </select>
    </label>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}